<p>konto works!</p>

<div *ngFor="let einzahlung of einzahlungen">
    {{einzahlung.Betrag}}
    {{einzahlung.Typ == '' ? 'Aufladung' : einzahlung.Typ}}
    {{einzahlung.Beleg == '1' ? 'ja' : 'nein'}}
    {{formatDate(einzahlung.Zeitpunkt)}}
</div>

<div>Gesamteinzahlung: {{summe_einzahlungen_formatiert}}</div>
<div>Gesamtausgaben: {{summe_ausgaben_formatiert}}</div>
<div>Kontostand: {{formatNumber(summe_einzahlungen-summe_ausgaben)}}</div>

<input placeholder="Betrag" [(ngModel)]="einzahlung.betrag" name="betrag" required>
<input placeholder="Typ" [(ngModel)]="einzahlung.typ" name="typ">
<input type="file" accept="image/*" placeholder="Beleg" [(ngModel)]="einzahlung.beleg" name="beleg" observeFiles>
<button (click)="this.einzahlen()">Bestätigen</button>
<div *ngIf="betragleer">Bitte mindestens den Betrag.</div>

