<ActionBar title="Kaffee App"></ActionBar>
<StackLayout class ="form">
  <Label class="ueberschrift" textWrap="true" text=" Willkommen in der Kaffee App!"></Label>
  <StackLayout class ="input-field">
    <TextField hint="Benutzername" class="input" name="benutzername" [(ngModel)]="logindaten.benutzername"></TextField>
  </StackLayout>
  <StackLayout class ="input-field">
    <TextField hint="Passwort" class="input" name="passwort" [(ngModel)]="logindaten.passwort"></TextField>
    <Button text="Login" class="button" (tap)="login()"></Button>
    <Label *ngIf="!logindatenvollstaendig" text="Logindaten nicht vollstaendig!" textWrap="true"></Label>
  </StackLayout>

</StackLayout>

<!--
Original Web template:

<p>login works!</p>

<div *ngIf="!logindatenvollstaendig">Logindaten nicht vollstaendig!</div>
<input placeholder="Benutzername" [(ngModel)]="benutzername" name="benutzername" required>
<input placeholder="Passwort" [(ngModel)]="passwort" name="passwort" required>
<button (click)="this.login()">Login</button>

-->